body {
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 50;
  background-color: #222222;
  color: #ffffff;
  width: 80%;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 25px 25px 25px 25px;
  margin: auto;
  line-height: 8px;
}

h1 {
  font-family: Ubuntu;
  font-size: 32px;
  color: #ffffff;
  text-align: right;
}

.success {
  color:#00ff00;
}

.fatal_error {
  color:#ff0000;
}

.warning {
  color:#ffff00;
}
